
/*
    font-family: 'Permanent Marker', cursive; pour les titres

    font-family: 'Swanky and Moo Moo', cursive; pour le texte
*/
body{
    background-color: #7f615c;
}

h1{
	font-family: 'Permanent Marker', cursive;
	text-decoration: underline;
	font-size: 40px;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	text-decoration: underline;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	text-decoration: underline;
	margin-bottom: -15px;
}

ul{
	width: 75%;
	height: auto;
	margin-top: -15px
}

li {

}

p{
	width: 75%;
	height: auto;
	margin-top: -15px;
}

a{
	color: #04CB45;
	text-decoration: none;
	font-family: 'Permanent Marker', cursive;
	
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 2px solid;

}

#inner{
  background-color: #5eb28d;
  font-family : 'Swanky and Moo Moo', cursive;
  margin: 20px 0;
  flex-direction: column;
}

.main{
  flex-direction: column;
  width :50%;
  height: auto;
  border: none;
}

.profil{
}

.picleft{
	border: none;
}

.photo2{
	border: none;
	margin: 20px;
	margin-top: -15px;
}

.photo{
	border-radius: 50%;
	margin-top: -20px;
	margin-bottom: 30px;
}

.bio{
	border: none;
}

.social{
	align-self: stretch;
}

.wiki{
	background-color: #7F1E1C;
	margin: 20px 0;
	width: 100px;
	height: auto;
}

.dates{

}

.activite{

}

.fin{

}

.photo img{
	border-radius: 50%;
}

.photo2 img{
	width: 200px;
	height: auto;
}